<div [hidden]="edited" style="width: 400px;">
  <h3>تعديل مدينة</h3>
  <form (ngSubmit)="onEdit()">
    <div class="form-group">
      <label for="name">أسم المدينة</label>
      <input type="text" class="form-control" id="nameEdit" required [(ngModel)]="city.name" name="nameEdit">
    </div>
    <div class="form-group">
      <label for="area">المنطقة</label>
      <select class="form-control"  [(ngModel)]="city.areaId" name="areas">
        <option *ngFor="let area of areas" value={{area.id}}>
          {{area.name}}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-success add-btn">تعديل</button>
  </form>
</div>
<div [hidden]="add" style="width: 400px;">
  <h3>أضافة مدينة</h3>
  <form (ngSubmit)="onAdd()">
    <div class="form-group">
      <label for="name">أسم المدينة</label>
      <input type="text" class="form-control" id="nameAdd" required [(ngModel)]="city.name" name="nameAdd">
    </div>
    <div class="form-group">
      <label>المنطقة</label>
      <select  class="form-control" [(ngModel)]="city.areaId" name="areasAdd">
        <option *ngFor="let area of areas" value={{area.id}}>
          {{area.name}}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-success add-btn">أضافة</button>

  </form>
</div>
<div class="line"></div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>عرض المدن</h2>
  </div>
  <div class="panel-body">
    <button (click)="addCity()" class="btn btn-success add-btn">أضافة</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>المسلسل</th>
          <th>المدينة</th>
          <th>المنطقة</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let city of cities">
          <td>{{city.id}}</td>
          <td>{{city.name}}</td>
          <td>{{city.area}}</td>
          <td>
            <button (click)="setCity(city.id)" class="btn btn-info" style="margin-left: 10px">تحرير</button>
            <button (click)="deleteCity(city.id)" class="btn btn-danger">حذف</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
